
#mainText, #mainTextBackground {
	position: absolute;
	left: 10px;
	top: 40px;
	padding: 10px;
	height: 90%;
	width: 400px;
	overflow: auto;
}
#mainText {
	z-index: 100;
}
#mainTextBackground {
	z-index: 50;
	background: #CCC;
	border-radius: 20px;
	opacity: 0.9;
}
#mainPane {
	position: fixed;
	left: 435px;
	top: 45px;
	height: 500;
	width: 700;
	z-index: 20;
}
#mapDiv {
	position: fixed;
	height: 500;
	width: 700;
}

body {
	background: #16222A; /* fallback for old browsers */
	background: linear-gradient(to right, #16222A , #3A6073);   }
	body, html {
	font-family: sans-serif;
	color: #334444;
}
h2 {
	font-family: 'Alegreya Sans', sans-serif;
	color: #111;
}
footer {
	width: 100%;
	bottom: 0;
	position: absolute;
}
.navbar {
	height: 30px;
	width: 100%;
	background: black;
	font-family: 'Alegreya Sans', sans-serif;
	color: white;
	padding-left: 20px;
}
.intro {
	font-family: 'Alegreya Sans', sans-serif;
	color: #010101;
}
.pageThumb {
	margin: auto;
	width: 50%;
	padding-top: 10px;
	padding-bottom: 10px;
}
.entryText {
	font-family: 'Handlee';
	color: #444;
	background: #999;
	background: linear-gradient(#fcf9f4, #fdeeda);
	padding-top: 5px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 2px;
	margin: 3px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}
.navb {
	position: relative;
	right: 0px;
	border-radius: 8px;
}

button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    //padding: 18px;
    width: 30%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

div.note {
	width: 260;
    padding: 3px 20px 4px 30px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 20px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	font-family: "Alegreya Sans";
    background: linear-gradient(to right, #fcf9f4, #faebd7);
    overflow: hidden;
}

.hide {
   position: absolute !important;
   top: -9999px !important;
   left: -9999px !important;
}
